body{
	background-image:url(https://images.unsplash.com/photo-1431576901776-e539bd916ba2?auto=format&fit=crop&w=1051&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	background-size:cover;
	background-position:center;
}
html{
	height:100%;
}
.jumbotron {
	color: grey;
	background: #222;
	border:5px;
	border-color: #080808;
	border-style:solid;
	min-height: 400px;
}

}
img{
	float:left;
	max-height: 300px;
	max-width:250px;
	min-height: 200px;
	min-width: 	150px;
	display:flex;
}
.navbar-default .navbar-brand {
	color: darkblue;
}

.navbar-default .navbar-nav>li>a{
	color: darkblue;
}