body{
	background-color:darkgray;
}
html{
	height:100%;
}
.jumbotron {
	color: grey;
	background: #222;
	border:5px;
	border-color: #080808;
	border-style:solid;
	min-height: 400px;
}}
img{
	float:left;
	max-height: 300px;
	max-width:250px;
	min-height: 200px;
	min-width: 	150px;
	display:flex;
}
.navbar-default .navbar-brand {
	color: darkblue;
}

.navbar-default .navbar-nav>li>a{
	color: darkblue;
}
table, th, td {
    border: 1px solid black;
}